@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    height: 100vh;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 30px;
}

.hero-section {
    background-color: #1F2937;
    padding: 15px 165px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
}

.hero-container {
    margin: 110px 0;
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: 450px;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content button {
    border: none;
    margin-top: 10px;
}

.hero-image {
    height: auto;
    width: 40%;
}

.logo, .hero-content h1, button {
    color: #F9FAF8;
    font-weight: 900;
}

.links, .hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.info-section {
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 45px;
}

.info-container {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info {
    width: 159px;
}

.info img {
    border: 5px solid #3882F6;
    border-radius: 25px;
    height: 169px;
    width: 159px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 135px 0 110px;
}

.quote-container {
    width: 775px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quote-container p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937
}

.quote-container div {
    font-size: 18px;
    font-weight: bold;
    padding: 0 35px;
    align-self: flex-end;
}

.call-to-action-section {
    padding: 85px 170px;
}

.call-to-action-container {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-content h4 {
    font-size: 20px;
    color: #F9FAF8;
}

.call-to-action-content div {
    color: #E5E7EB;
}

.call-to-action-container button {
    border-color: white;
    border-style: solid;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}